.gwd-iframe-1ixy-llb {
    transform-origin: 136px 196.5px 0px;
    height: 400px;
    border-radius: 1px;
    border-image-source: none;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-color: rgb(19, 19, 19);
    border-style: solid;
}
    .gwd-span-1qfx {
        font-size: 70px;
    }
    .gwd-span-1skk-llb {
        font-size: 25px;
    }
    .gwd-p-1ae8-llb {
        transform: rotateZ(0.0deg);
    }
    .gwd-right-arrow-llb {
        transform: rotateZ(135.0deg);
    }
    .gwd-left-arrow-llb {
        transform: rotateZ(45.0deg);
    }
    .gwd-visualizer-view-1iw1-llb {
        width: 1230px;
        height: 330px;
    }
