.page_style{
	background-color: rgb(245,245,245,1);
	padding: 20px;
}
.box_panel{
	background-color: rgba(0,172,230,0.3); 
	border-style: solid; 
	border-width: thin;
	margin: 20px;
	padding: 17px;
	min-width: 180px;
}
.title{
	font-size:20px;
	font-family: Verdana, sans-serif;
}
.txt_style{
	font-family: Verdana, sans-serif;
	font-weight: normal;
	text-align: justify;
	word-break: break-all;
}
.color_link{
	color:#0000cd;
}
.txt_style1{
	font-size:16px;
	text-align: justify;
	font-weight: normal;
	font-family: Verdana, sans-serif;
}
.table1{
	height:326px; 
	width:60%;
}
.tb1_col{
	background-color:#ffffff; 
	width:50%; 
	min-width:10px; 
	word-break: break-all;
	vertical-align: text-top;
}
.table2{
	height:498px; 
	width:80%;
}
.tb2_col1{
	background-color:#ffffff; 
	width:36%; 
	min-width:10px; 
	word-break: break-all;
	vertical-align: text-top;
}
.tb2_col{
	background-color:#ffffff; 
	width:33%; 
	min-width:10px; 
	word-break: break-all;
	vertical-align: text-top;
}
.table3{
	width:75%;
}
.tb3_col1{
	background-color:#ffffff;
	width:45%;
	min-width: 10px;
	word-break: break-all;
	vertical-align: text-top;
}
.tb3_col2{
	background-color:#ffffff; 
	width:50%;
	min-width: 10px; 
	word-break: break-all;
	padding-right: 15px;
	vertical-align: text-top;
}
.main_menu{
	background-color: rgb(245,245,245,1);
	padding: 20px;
	margin: 20px;
}
.panel{
	margin-top: 10px; 
	background: white;
	width: 640px;
	height: 95px;
	display: inline-block;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 150px;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_1{
    background-color: rgb(226, 230, 234); 
    color: black; 
    border: 1px solid rgb(226, 230, 234);
}

.button_1:hover {
    background-color: rgb(210, 220, 225);
    color: black;
}
.color_panel{
    background-color: red;/*rgb(245,245,245,1);*/
    padding: 20px;
}