.overlay-wrapper {                                                                 
    display: block;                                                                 
    position: relative;                                                               
    width: 100%;                                                                   
    height: 100%;                                                                  
    background-color: rgba(0,0,0,0.70);                                            
    text-align: center;                                                            
    z-index: 10;                                                                   
    overflow-y: auto;                                                              
    padding: 50px;                                                                 
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  z-index: -1;
}


.loader-class {
 height:100%; 
 display:flex;
 align-items:center;
 justify-content:center;
}

.mywrapper {
}
.mywrapper:hover div {
    background-color: #FFFFFF;
    opacity: 0.6;
    position: relative;
}

.plots {
 display: block;
}
