<!DOCTYPE html>
<html lang="en">

<head>
    <title>Migliore et al. 2018</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../css/live_paper.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>

<body class="container">
    <br>
    <div class="box rounded">
        <h5 style="font-family: 'Merriweather', serif; text-align:center; line-height: 1.25;">Add paper title here</h5>
    </div>
    <div>
        <p><strong>Authors: </strong></p>
        <p><strong>Author information: </strong></p>
        <p><strong>Corresponding author: </strong></p>
    </div>
    <div class="rainbow-row">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <p><strong>Journal: </strong></p>
        <p><strong>Download Url: </strong></p>
        <p><strong>Citation: </strong></p>
        <p><strong>DOI: </strong></p>
        <p><strong>Licence: </strong></p>
    </div>
    <div class="note rounded">
        <h5>Abstract:</h5>
        Enter abstract here...
    </div>
    <h5>Resources</h5>
    <p>Add a line of description:
    </p>
    <ul class="collapsible" data-collapsible="expandable">
        <li class="active">
            <div class="collapsible-header amber lighten-5">
                <i class="material-icons">settings_input_antenna</i>Add heading
            </div>
            <div class="collapsible-body ">
                Add content here
            </div>
        </li>
        <li>
            <div class="collapsible-header amber lighten-5">
                <i class="material-icons">timeline</i>Add heading
            </div>
            <div class="collapsible-body">
                Add content here
            </div>
        </li>
        <li>
            <div class="collapsible-header amber lighten-5">
                <i class="material-icons">note_add</i>Add heading
            </div>
            <div class="collapsible-body">
                Add content here
            </div>
        </li>
        <li>
            <div class="collapsible-header amber lighten-5">
                <i class="material-icons">local_play</i>Add heading
            </div>
            <div class="collapsible-body">
                Add content here
            </div>
        </li>
    </ul>
    <br>
    <div class="rainbow-row">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <br>
    <br>
</body>

</html>
